{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Hello, Article User!</h1>
    <p class="lead">Python Css Jss Html Django</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{%url 'index'%}" role="button">Return Home Page</a>
    </p>
    
    <a href="https://www.linkedin.com/in/kerem-b%C3%B6y%C3%BCk-147890247/">Github</a>
  </div>

{% endblock body %}